{% ckan_extends %}

{% block home_image %}
    <section class="featured media-overlay hidden-xs">
     {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="{{ h.url_for_static('/images/VALERIA_fr_coul.svg') }}" alt="VALERIA"/>
        </a>
      {% endblock %}
    </section>
  {% endblock %}