{% set stats = h.get_site_statistics() %}

<div class="box stats">
  <div class="inner">
    <h3>Statistiques du catalogue de données</h3>
    <ul>
      {% block stats_group %}
      <li>
        <a href="{{ h.url_for('dataset.search') }}">
          <strong>{{ h.SI_number_span(stats.dataset_count) }}</strong>
          {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
        </a>
      </li>
      {% endblock %}
    </ul>
  </div>
</div>
