{% ckan_extends %}

{% block help_forgotten %}
<section class="module module-narrow module-shallow">
    <h2 class="module-heading">Comment puis-je me connecter ?</h2>
    <div class="module-content">
      <p>Veuillez prendre note que l'inscription au catalogue de donnée est présentement indisponible. Si vous désirez ajouter un jeu de données, <a href="https://valeria.science/nous-joindre">contactez-nous.</a></p>
    </div>
</section>
{% endblock %}